ansible-compat==3.0.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
ansible-core==2.13.13 ; python_full_version >= "3.8.1" and python_version < "4.0"
ansible-lint==6.8.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
ansible==6.6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
arrow==1.3.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
astroid==2.15.8 ; python_full_version >= "3.8.1" and python_version < "4.0"
attrs==23.2.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
binaryornot==0.4.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
black==22.12.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
bracex==2.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
certifi==2023.11.17 ; python_full_version >= "3.8.1" and python_version < "4.0"
cffi==1.16.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
cfgv==3.4.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
chardet==5.2.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
click-help-colors==0.9.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
click==8.1.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
cookiecutter==2.5.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
cryptography==41.0.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
dill==0.3.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
distlib==0.3.8 ; python_full_version >= "3.8.1" and python_version < "4.0"
distro==1.9.0 ; python_full_version >= "3.8.1" and python_version < "4.0" and (sys_platform == "linux" or sys_platform == "linux2")
docker==7.0.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
enrich==1.2.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
filelock==3.13.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
flake8==6.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
identify==2.5.33 ; python_full_version >= "3.8.1" and python_version < "4.0"
idna==3.6 ; python_full_version >= "3.8.1" and python_version < "4.0"
importlib-resources==6.1.1 ; python_full_version >= "3.8.1" and python_version < "3.9"
isort==5.13.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
jinja2==3.1.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
jsonschema-specifications==2023.12.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
jsonschema==4.20.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
lazy-object-proxy==1.10.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
markupsafe==2.1.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
mccabe==0.7.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
mdurl==0.1.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
molecule-docker==2.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
molecule==4.0.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
molecule[docker]==4.0.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
nodeenv==1.8.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
packaging==23.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
pathspec==0.12.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
pkgutil-resolve-name==1.3.10 ; python_full_version >= "3.8.1" and python_version < "3.9"
platformdirs==4.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pluggy==1.3.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pre-commit==2.21.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pycodestyle==2.11.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
pycparser==2.21 ; python_full_version >= "3.8.1" and python_version < "4.0"
pyflakes==3.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pygments==2.17.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
pylint==2.17.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
python-dateutil==2.8.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
python-slugify==8.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
pywin32==306 ; python_full_version >= "3.8.1" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
referencing==0.32.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
resolvelib==0.8.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
rich==13.7.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
rpds-py==0.17.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_full_version >= "3.8.1"
ruamel-yaml==0.17.40 ; python_full_version >= "3.8.1" and python_version < "4.0"
selinux==0.2.1 ; python_full_version >= "3.8.1" and python_version < "4.0" and (sys_platform == "linux" or sys_platform == "linux2")
setuptools==69.0.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
subprocess-tee==0.4.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
text-unidecode==1.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
tomli==2.0.1 ; python_full_version >= "3.8.1" and python_full_version < "3.11.0a7"
tomlkit==0.12.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
types-python-dateutil==2.8.19.20240106 ; python_full_version >= "3.8.1" and python_version < "4.0"
typing-extensions==4.9.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
urllib3==2.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
virtualenv==20.25.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
wcmatch==8.5 ; python_full_version >= "3.8.1" and python_version < "4.0"
wrapt==1.16.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
yamllint==1.33.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
zipp==3.17.0 ; python_full_version >= "3.8.1" and python_version < "3.9"
