ansible-compat==24.5.1
ansible-core==2.13.13
ansible-lint==6.8.7
arrow==1.4.0
astroid==2.15.8
attrs==26.1.0
binaryornot==0.6.0
black==22.12.0
bracex==2.6
certifi==2026.2.25
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.6
click==8.3.1
click-help-colors==0.9.4
cookiecutter==2.7.1
cryptography==46.0.5
dill==0.4.1
distlib==0.4.0
docker==7.1.0
enrich==1.2.7
filelock==3.25.2
flake8==6.1.0
identify==2.6.18
idna==3.11
isort==5.13.2
jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
markdown-it-py==4.0.0
markupsafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
molecule==4.0.4
molecule-docker==2.1.0
mypy-extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pluggy==1.6.0
pre-commit==2.21.0
pycodestyle==2.11.1
pycparser==3.0
pyflakes==3.1.0
pygments==2.19.2
pylint==2.17.7
python-dateutil==2.9.0.post0
python-discovery==1.2.0
python-slugify==8.0.4
pyyaml==6.0.3
referencing==0.37.0
requests==2.33.0
resolvelib==0.8.1
rich==14.3.3
rpds-py==0.30.0
ruamel-yaml==0.17.40
ruamel-yaml-clib==0.2.15
six==1.17.0
subprocess-tee==0.4.2
text-unidecode==1.3
tomlkit==0.14.0
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
virtualenv==21.2.0
wcmatch==10.1
wrapt==1.17.3
yamllint==1.38.0
