---
- name: Validate netplan_configuration structure
  ansible.builtin.assert:
    that:
      - netplan_configuration.network is defined
    fail_msg: "netplan_configuration must have 'network' as root key"
  when: netplan_configuration != {}

- name: Configuring Netplan
  ansible.builtin.copy:
    content: "{{ netplan_default_configuration | combine(netplan_configuration, recursive=True) | to_nice_yaml }}"
    dest: "{{ netplan_config_file }}"
    mode: "{{ netplan_config_file_mode }}"
    backup: true
  become: true
  when: netplan_configuration.network is defined
  notify: netplan generate config

- name: set ipv4_forward
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    state: present
    reload: true
  when: netplan_configuration.network.tunnels is defined
